APP_SECRET  =
SUPABASE_URL = 
SUPABASE_KEY = 
PRIVATE_API_URL = 
PAGE_ACCESS_TOKEN = 

# Production Connection Settings
ALLOWED_ORIGINS=https://facebook-chatbot-rag.vercel.app
NEXT_PUBLIC_API_URL=https://facebook-chatbot-rag.onrender.com
